{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 3,
	"useTabs": true,
	"printWidth": 100000,
	"objectCurlySpacing": ["error", "never"],
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"bracketSpacing": false
}
