{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"tabWidth": 3,
	"useTabs": true,
	"printWidth": 1000,
	"objectCurlySpacing": ["error", "never"],
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"bracketSpacing": false,
	"overrides": [
		{
			"files": "*.tsx",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
